.card-container {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 220px;
    background-color: brown;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
}

.card-container:hover {
    box-shadow: 10px 10px 5px rgba(100, 100, 100, 0.5);
    width: calc(150px*1.2);
    height: calc(220px*1.2);
    max-width: none;
    max-height: none;
}

p {
    color: white;
    font-weight: bold;
    margin: 5px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}